.error {
    border-color: red;
    animation: animateBorder 1s linear infinite;
} 

.form-group {
    position: relative;
}

.error-message {
    position: absolute;
    display: none;
    color: red;
    font-size: 12px;
    bottom: -12px;
}

@keyframes animateBorder {
    from {
        border-color: red; 
    }

    to {
        border-color: blue;
    }
}

.visible {
    display: block !important;
}

.card {
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
}
